:root{
    --tuftsBLue: #2496DC;
    --skyBlue: #6EC0E5;
    --amaranth: #E51F55;
    --fieryRose: #FC6471;
    --lemonYellowCrayola: #FFFBA0;
}
html{ font-family:'Itim', Courier, monospace; }
body{
    background-image: linear-gradient(to top, var(--tuftsBLue) 20%, var(--skyBlue) 70%);
}
header , footer {
    margin: 0;
    color: white;
    background-color: var(--amaranth);
    background-image: linear-gradient(to left, var(--fieryRose) 20%, var(--amaranth) 80%);

}
footer{
    padding: 1rem;
    height: 90px;

}header{
    padding: 10px 1rem 10px 1rem;
}.h1{
    display: none;
    text-decoration: none;
}h1{
    margin: 0;
    color: white;
    text-decoration: none;
}h1:hover{
    text-decoration: double underline;
}h2{
    text-align: center;
}h3{
    text-align: center;
}section{
    border: 3px outset var(--tuftsBLue);
    padding: 1rem;
    border-radius: 15px 15px 15px 15px;
    margin: auto;
    width: 72.5%;
    background-color: white;
}
    
.topnav {
    overflow: hidden;
    margin-bottom: 0;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    text-decoration: double underline;
    background-color: var(--amaranth);
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav .icon {
    display: none; 
} .secAbout{
    margin: 1.5rem auto;
}
    
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
}
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    }  
}
.indexLink .h1:hover{
    text-decoration: underline;
}.indexLink{
    color: white;
}
.wrapper {
    min-height: 100%;
    margin-bottom: -100px;
    padding-bottom: 100px;
}
.totoDesc{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}.mapSec{
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
}.vidSec{
    margin: auto;
    text-align: center;

}.yellowBg{
    padding: 1rem 0;
    background-color: var(--lemonYellowCrayola);
}.img1{
    width: 70%;
}
.ytBtn{
    border-radius: 15px 15px 15px 15px;
    text-decoration: none;
    margin: 1rem auto;
    padding: 1rem;
    color: white;
    background-image: linear-gradient(to top, var(--fieryRose) 20%, var(--amaranth) 80%);
}
.social-media{
    display: flex;
    justify-content:space-around;
}
.smTitle, .social-media{
    text-align: center;
}
.smText{
    color: var(--tuftsBLue);
    text-decoration: none;
    font-size: 1.2rem;
}.fotos{
    text-align: center;
    margin: auto;
}
.merch{
    height: 370px;
    margin: 4px 4px;
    padding: 4px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}.imgMerch{
    width: 100%;
    text-align: center;
}.buyBtn{
    border-radius: 10px 10px 10px 10px;
    color: white;
    text-decoration: none;
    padding: 1rem;
    margin: 1rem;
    background-color: var(--tuftsBLue);
}.buyBtn:hover{
    text-decoration: underline;
}.merchItem{ text-align: center; display: inline-block; width: 65%; margin: auto 1rem ; padding: 0 1rem 1rem 1rem; }
.dropBtn{
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    padding: 11px;
    border-radius: 10px 10px 10px 10px;
    margin: auto 2px;
    border: 0;
    background-color: unset;
}.dropBtn:hover{
    text-decoration: double underline;
    background-color: var(--amaranth);
    cursor:pointer;
}.dropmenu{
    position: relative;
    display: inline-block;
}.dropmenu-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}.dropmenu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}.dropmenu-content a:hover {background-color: #ddd;}
.dropmenu:hover .dropmenu-content {display: block;}

ul.images {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
}
ul.images li {
    display: inline;
    width: 150px;
}
.videoDile{
    width: 75%;
    height: 100%;
}.asIndex{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}.imgTotoDesc{
    display: none;
}
@media (min-width: 705px) {
    .asIndex{
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }.topnav{
        float: right;
        margin-bottom: 5px;
        display: flex;
    }.indexLink{
        display: none;

    }header{
        padding: 20px 1rem 70px 1rem;
    }.h1{
        float: left;
        display: block;
        margin-top: 7px;
    }.img1{
        width: 30%;
    }.imgMerch{
        width: 60%;
        text-align: center;
    }.merchItem{ text-align: center; display: inline-block; width: 30%; }
    .mapSec{
        display: grid;
        grid-column-gap: 2rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}
@media (min-width: 1250px) {
    .imgTotoDesc{
        display: block;
    }.totoDesc{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
}
.copyRight{ font-size: 14px; }